/* base */
body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 10px;
}

img {
  width: 100%;
}

label {
  margin-top: 20px;
  margin-bottom: 5px;
}

a:hover,
.primary-nav a:hover {
  color: #71B43E;
}

.contact .contact-nav,
.about .about-nav,
.portfolio .portfolio-nav  {
  text-decoration: underline;
  text-decoration-color: #71B43E;
}


.interior nav {
  background-color: #fff;
}
.interior nav a {
  color: #000;
  font-weight: 500;
}

/* grid */
.grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
}

.col-1-3 {
  width: 33.33%;
  width: calc(100% / 3);
}

.col-4 {
  width: 40%;
  width: calc(40% - 30px);
}
.col-5 {
  width: 50%;
}

.col-6 {
  width: 60%;
  width: calc(60% - 30px);
}

.col-10 {
  width: 100%;
}

/* Nav */
nav {
  background-color: #0A0909;
  padding: 20px 0;
}

nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav ul a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
}

nav ul li:nth-child(even) {
  margin: 0 20px;
}
/* home logo */

.logo-container {
  width: 100%;
  text-align: center;
  padding:  40px 0;
}
.home-logo {
  max-width: 535px;
}

/* test */
.test {
  display: flex;
}
.test a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #000;
  color: white;
  font-size: 40px;
  text-decoration: none;
  transition-duration: 2s;
}

.test a:hover {
  background-color: #71B43E;
  transition-duration: 2s;
}

.test a:nth-child(even) {
  margin: 0 20px;
}

/* skills */
.skill-set {
  margin-top: 20px;
  margin-bottom: 20px;
}

.skill-set ul {
  padding: 0;
  align-items: center;
  justify-content: space-evenly;
}

.skill-set ul li {
  height: 337px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(33.33% - 30px);
  border: 1px solid #fafafa;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

@media screen and (max-width: 768px) {
  .skill-set ul li {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 600px) {
  .skill-set ul li {
      width: 100%;
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.html .overlay {
  background-color: #e44d26;
}

.css .overlay {
  background-color: #0277bd;
}

.javascript .overlay {
  background-color: #d6ba32;
}

.jquery .overlay {
  background-color: #0769AD;
}

.php .overlay {
  background-color: #787CB5;
}

.wordpress .overlay {
  background-color: #00749C;
}

.skill-set ul li:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.skill-set ul li:nth-child(n+4) {
  margin-top: 20px;
}

/* 
  interior
*/
.interior .logo-container img {
  max-width: 412px;
}

.interior-banner {
    background-image: url(../img/Header_Final.jpg);
    height: 120px;
    background-size: cover;
    margin-bottom: 30px;
}

/* About  */

.about .grid {
  justify-content: space-between;
}

/* portfolio */
.porfolio-container li {
  height: 300px;
}

/* contact */
.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-button {
  padding: 10px;
  max-width: 120px;
  background-color: unset;
  border: #71B43E 2px solid;
  font-size: 16px;
  margin-top: 20px;
  transition-duration: 1s;
}

.contact-button:hover {
  background-color: #71B43E;
  color: #fff;
  transition-duration: 1s;
}

/* footer */

footer {
  display: flex;
  align-items: center;
  background-color: #000;
  color: #fff;
  height: 214px;
  margin-top: 20px;
}